
* {
    font-family: 'Noto Sans Linear B', sans-serif;
}
.main-con{
    height: 100vh;
    width: 100%;
    border: solid 1px black;
}

.card-body {
    height: 35rem;
}

.con {
    height: 10.50rem;
}

.rapport-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.rapport-con-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.rapport {
    background-color: rgb(121, 70, 146);
}