*{
  margin:0;
  padding: 0;
}
.fullDiv{
  width: 100%;
  height: 100dvh;
  display: flex;

}
.leftDiv{
  width: 60%;
  height: 100%;
  background-color: red;
}
.rightDiv{
  width: 40%;
  height: 100%;
  background-color: blue;
}