*{
  margin:0;
  padding: 0;
}
/* main container */
.fullDiv{
  width: 100%;
  height: 100dvh;
  display: flex;

}
/* left container */
.leftDiv{
  width: 60%;
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* right container */
.rightDiv{
  width: 40%;
  height: 100%;
  background-color: blue;
}
/* item container */
.itemContainer{
  height: 90%;
  overflow-y: scroll;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  gap: 2px;
}
.itemContainer>a>img{
  border: solid 3px;
  background-color: blue;
  border-radius: 20px;
}
/* barcode form */
.categoryDiv{
  width: 100%;
  display: flex;
  justify-content: center ;
}
/* barcode */
#category{
  width:80%;
}

/* scrollbar design  */
::-webkit-scrollbar{
  width: 12px;
  visibility: hidden;
}

/* scrollbar thumb design  */
::-webkit-scrollbar-thumb{
  width: 10px;
  background-color: rgba(0, 0, 0, 0.463);
  border-radius: 20px;
}