@font-face {
    font-family: "Roboto-Main";
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto-Main', sans-serif;
}

body {
    background-color: #c182e0 !important;
    background: linear-gradient(to left, rgb(208, 165, 233), rgb(199, 121, 245)) !important;
    color: black;
    padding: 5px;
    height: 100vh;
    width: 100vw;   
}

* p, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    letter-spacing: .5px;
}