#pengar-idag {
  min-height: 40vh;
  background-color: rgb(121, 70, 146);
  color: white;
  border-radius: 8px;
}

#pengar-manad {
  min-height: 40vh;
  background-color: rgb(121, 70, 146);
  color: white;
  border-radius: 8px;
}

#summary-idag {
  height: 25vh;
  background-color: rgb(121, 70, 146);
  color: white;
  border-radius: 8px;
}

#summary-idag:hover {
  background-color: rgb(204, 151, 202);
}

#summary-manad {
  height: 25vh;
  background-color: rgb(121, 70, 146);
  color: white;
  border-radius: 8px;
}

#summary-manad:hover {
  background-color: rgb(204, 151, 202);
}
