html, body {
  margin: 0;
  padding: 0;

}

#pengar-idag {
  min-height: 40vh;
  background-color: rgb(121, 70, 146);
  color: white;
  border-radius: 8px;
}

#pengar-manad {
  min-height: 40vh;
  background-color: rgb(121, 70, 146);
  color: white;
  border-radius: 8px;
}



/* REMOVE IF BREAK */
a:link {
  text-decoration: none;
}

.header_report {
  text-align:center;
}

/* table, th, td {
  border-radius: 10px;
} */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 2.5rem;

}

td, th {
  border: 1px solid #dddddd;
  border-radius: 0.5rem;
  text-align: center;
  width: 30%;
  height: 4vh;
}
.fullProductTable{
  background-color: whitesmoke;
}


/* Style the dropdown button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 2px solid #222;
  border-radius: 10px;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}